.logout:hover {
  cursor: pointer;
}

/* --------- STYLES TO DISPLAY THE EDITOR BEFORE LOAD ---------------------------------------------------------------------------- */

.centered {
  /* Hide overlapping comments. */
  overflow: hidden;
  max-width: var(--ck-sample-container-width);
  margin: 0 auto;
  padding: 0 var(--ck-sample-base-spacing);
}

/* --------- SAMPLE GENERIC STYLES ---------------------------------------------------------------------------- */

header .centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 8em;
}

header h1 a {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #2d3a4a;
  text-decoration: none;
}

header h1 img {
  display: block;
  height: 64px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li + li {
  margin-left: 1em;
}

header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #2d3a4a;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* --------- RWD ---------- */
@media screen and (max-width: 800px) {
  header h1 {
    width: 100%;
  }

  header h1 img {
    height: 40px;
  }

  header nav ul {
    text-align: right;
  }
}
